
<ul class="list-group">
  <li *ngFor="
  let character of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd
  "

    class="list-group-item"
    ngClass="{
      'text-primary': isFirst, 
      'text-danger': isLast
    }">
    <span class="text-primary">  {{ i + 1 }}.</span>
    <span>{{character.name}} - </span>
    <strong>Power: </strong>
    <span>{{character.power}}</span>
    <!-- <span>Es par: {{isEven}}</span>
    <span>Es impar: {{isOdd}}</span> -->

  </li>
</ul>
